/* RESET */
/* FRAMEWORK */
/* MAIN */
/* STRUCTURE */
/* SPACE */
/* CHANGE */
/* PROFILE */
/* ANIMATIONS */
/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  overflow-x: hidden;
  cursor: url(../images/cursor_pi.svg), auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f2135), color-stop(0.5, #4b3454), color-stop(1, #2f2135));
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #cfcfcf;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* FRAMEWORK */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* MAIN */
.container {
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.active {
  color: white !important;
}

body {
  font-family: "BPG Glaho Bold", sans-serif;
}

.background {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 23, 34, 0.3)), color-stop(70%, rgba(37, 23, 34, 0.3)), to(#211725)), url(../images/main_background.png);
  background-image: linear-gradient(to bottom, rgba(37, 23, 34, 0.3) 0%, rgba(37, 23, 34, 0.3) 70%, #211725 100%), url(../images/main_background.png);
  background-color: black;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 700px;
}

header {
  z-index: 21;
}

header .fa-bars {
  display: none;
}

header nav {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

header nav ul li {
  margin-right: 20px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

header nav ul li a {
  color: #cfcfcf;
}

header nav .profile {
  width: 50px;
}

header .site_name {
  z-index: 2;
  font-size: 72px;
  letter-spacing: 12px;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #cfcfcf;
  text-align: center;
  line-height: 150px;
  max-width: 70%;
  width: 550px;
}

.portals {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 400px;
  background-color: #211725;
  padding-bottom: 150px;
}

.portals div {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portals div img {
  z-index: 2;
  width: 100%;
}

.portals div a {
  z-index: 2;
  color: #cfcfcf;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 5px;
}

@media screen and (max-width: 800px) {
  header .fa-bars {
    display: block;
  }
  header nav ul {
    display: none;
    background-color: rgba(31, 5, 5, 0.7);
    overflow: hidden;
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%, 10%);
            transform: translate(-30%, 10%);
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    padding: 10px 0 10px 30px;
  }
  header .site_name {
    font-size: 1.3em;
    line-height: 50px;
  }
  .portals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portals > div {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portals > div img {
    width: 200px;
  }
  .portals > div a {
    margin-top: -5px;
  }
  #structure section .container, #change section .container, #space section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #structure section .container .side-nav li, #change section .container .side-nav li, #space section .container .side-nav li {
    padding-bottom: 10px;
  }
}

/* STRUCTURE */
#structure .background, #space .background, #change .background {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 23, 34, 0.3)), to(#211725)), url(../images/srtucture_background.png);
  background-image: linear-gradient(to bottom, rgba(37, 23, 34, 0.3), #211725), url(../images/srtucture_background.png);
  background-color: black;
}

#structure section .container, #space section .container, #change section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 150px;
}

#structure section .container div, #space section .container div, #change section .container div {
  padding: 0 20px;
}

#structure section .container .notes, #space section .container .notes, #change section .container .notes {
  background-color: rgba(255, 255, 255, 0.247);
  padding: 25px 25px 65px 25px;
  max-width: 65%;
  color: white;
  line-height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  position: relative;
}

#structure section .container .notes button, #space section .container .notes button, #change section .container .notes button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: #cfcfcf;
  padding: 10px 15px;
  border: 1px solid #cfcfcf;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#structure section .container .notes button:hover, #space section .container .notes button:hover, #change section .container .notes button:hover {
  color: white;
}

#structure section .container li, #space section .container li, #change section .container li {
  color: #cfcfcf;
  z-index: 33;
  padding-bottom: 40px;
  text-align: right;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#structure section .container li:hover, #space section .container li:hover, #change section .container li:hover {
  color: white;
}

/* SPACE */
#space .background {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 23, 34, 0.3)), color-stop(110%, #211725)), url(../images/space_background.png);
  background-image: linear-gradient(to bottom, rgba(37, 23, 34, 0.3), #211725 110%), url(../images/space_background.png);
  background-color: black;
}

/* CHANGE */
#change .background {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 23, 34, 0.3)), color-stop(150%, #211725)), url(../images/change_background.png);
  background-image: linear-gradient(to bottom, rgba(37, 23, 34, 0.3) 0%, #211725 150%), url(../images/change_background.png);
  background-color: black;
}

/* PROFILE */
#profile .background {
  z-index: -1;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 23, 34, 0.3)), color-stop(110%, #211725)), url(../images/DigitalEffect.png);
  background-image: linear-gradient(to bottom, rgba(37, 23, 34, 0.3), #211725 110%), url(../images/DigitalEffect.png);
  background-color: #090979;
}

#profile section {
  width: 1200px;
  margin: 0 auto;
}

#profile p, #profile h1 {
  color: #cfcfcf;
}

#profile .profile_info {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #cfcfcf;
}

#profile .profile_info img {
  margin-right: 25px;
}

#profile .profile_info .registred {
  color: gray;
  margin-bottom: 15px;
}

#profile .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile .bio img {
  width: 90%;
}

#profile .bio .bio-text {
  width: 70%;
  margin-right: 50px;
}

#profile #last-session-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c143400), color-stop(10%, #1c1434), to(#1e1730));
  background-image: linear-gradient(180deg, #1c143400 0%, #1c1434 10%, #1e1730 100%);
  padding-bottom: 50px;
}

#profile #last-session-wrapper p {
  padding: 15px 0;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
}

#profile #last-session-wrapper p a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#profile #last-session-wrapper p a:hover {
  display: block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
  text-shadow: -2px 2px 1px black;
  background-color: rgba(21, 88, 114, 0.082);
}

#profile #session-history-title {
  font-size: 24px;
  margin: 15px 0px 50px 0;
}

#profile .last-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

#profile .last-session img {
  margin-bottom: 35px;
  width: 300px;
  height: 300px;
}

/* ANIMATIONS */
.rocket {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -10vh;
  left: -10vw;
  z-index: 1;
  -webkit-transform: rotate(85deg);
          transform: rotate(85deg);
  -webkit-animation: rocket 20s ease-in-out infinite;
          animation: rocket 20s ease-in-out infinite;
}

@-webkit-keyframes rocket {
  0% {
    top: -10vh;
    left: -10vw;
  }
  99% {
    top: 160vh;
    left: 80vw;
    opacity: 1;
    -webkit-transform: scale(0.9) rotate(85deg);
            transform: scale(0.9) rotate(85deg);
  }
  100% {
    top: 160vh;
    left: 80vw;
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(85deg);
            transform: scale(0.1) rotate(85deg);
  }
}

@keyframes rocket {
  0% {
    top: -10vh;
    left: -10vw;
  }
  99% {
    top: 160vh;
    left: 80vw;
    opacity: 1;
    -webkit-transform: scale(0.9) rotate(85deg);
            transform: scale(0.9) rotate(85deg);
  }
  100% {
    top: 160vh;
    left: 80vw;
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(85deg);
            transform: scale(0.1) rotate(85deg);
  }
}
