#change{
    .background {
      position: absolute;
      background-image: linear-gradient(
          to bottom,
          $gradientStart 0%,
          $gradientEnd 150%
        ),
        url(../images/change_background.png);
        background-color: black;
    }
  }
