
.container {
    // max-width: 1440px;
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    position: relative;
  }

.active {
  color:$active !important;
}
body{
  font-family: "BPG Glaho Bold", sans-serif;
}
  .background {
    position: relative;
    background-image: linear-gradient(
        to bottom,
        $gradientStart 0%,
        $gradientStart 70%,
        $gradientEnd 100%
      ),
      url(../images/main_background.png);
    background-color: black;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 700px;
  }
  header {
    z-index: 21;
    .fa-bars{
      display: none;
    }
    nav {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      ul {
        display: flex;
        align-items: center;
        margin-left: 50px;
        li {
          margin-right: 20px;
          min-width: fit-content;
          a {
            color: $white;
          }
        }
      }
      .profile {
        width: 50px;
      }
    }
    .site_name {
      z-index: 2;
      font-size: 72px;
      letter-spacing: 12px;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      color: $white;
      text-align: center;
      line-height: 150px;
      max-width: 70%;
      width: 550px;
    }
  }

  .portals{
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    min-height:400px;
    background-color: $gradientEnd;
    padding-bottom: 150px;
    div{
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img{
        z-index: 2;
        width:100%;
      }
      a{
        z-index: 2;
        color:$white;
        text-decoration: none;
        font-size: 30px;
        letter-spacing: 5px;
      }
    }
  }

@media screen and (max-width: 800px){
  header{
    .fa-bars{
      display: block;
    }
    nav{
      ul {
        display: none;
        background-color: rgba(31, 5, 5, 0.335);
        overflow: hidden;
        position: absolute;
        align-items: flex-start;
        top: 50%;
        left: 50%;
        transform: translate(-30%, 10%);
        margin:0;
        flex-direction: column;
        
        li {
          padding: 10px 0 10px 30px ;
        }
      }
    }
     .site_name{
       font-size: 1.3em;
       line-height: 50px;
    }
  }

  .portals{
    flex-direction: column;
    & > div{
      margin-bottom: 30px;
      justify-content: center;
      img{
        width:200px;
      }
      a {
        margin-top: -5px;
      }
    }
  }
}