#profile{
    .background {
      z-index: -1;
      position: absolute;
      background-image: linear-gradient(
          to bottom,
          $gradientStart,
          $gradientEnd 110%
        ),
        url(../images/DigitalEffect.png);
        background-color: #090979;
    }

    section{
        width:1200px;
        margin: 0 auto;
    }

    p, h1{
        color:$white;
    }

    .profile_info{
        padding-top: 120px;
        display: flex;
        align-items: flex-end;
        color:$white;
        img{
            margin-right: 25px;
        }
        .registred{
            color:gray;
            margin-bottom: 15px;
        }
    }
    .bio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width:90%;
        }
        .bio-text{
            width:70%;
            margin-right: 50px;
        }
    }

    #last-session-wrapper{
        background-image: linear-gradient(
            180deg,
            #1c143400 0%,
            #1c1434 10%,
            #1e1730 100%,
          );
        padding-bottom:50px;
        p{
            padding:15px 0;
            font-size: 20px;
            letter-spacing: 4px;
            text-align: center;
            a{
                transition: all .3s ease-in-out;
                &:hover{
                    display: block;
                    transform: scale(1.1);
                    color:$active;
                    text-shadow: -2px 2px 1px black;
                    background-color: rgba(21, 88, 114, 0.082);
                }
            }
        }
          
    }

    #session-history-title{
        font-size: 24px;
        margin: 15px 0px 50px 0;
    }

    .last-session{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 35px;
        img{
            margin-bottom: 35px;
            width: 300px;
            height: 300px;
        }
     
        
    }


  }
