#space{
    .background {
      position: absolute;
      background-image: linear-gradient(
          to bottom,
          $gradientStart,
          $gradientEnd 110%
        ),
        url(../images/space_background.png);
        background-color: black;
    }

  }
